canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
}

html,body{
  margin: 0;
  height: 100%;
}

main{
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
header {
  /*background: var(--dark-bg);*/
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  text-shadow: 5px 5px 10px black;
  /*margin-bottom: var(--spacing);*/
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  /*background: var(--dark-bg);*/
  background-color: rgba(7, 10, 13,0.7);

  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1em;
  /*margin-bottom: var(--spacing);*/
}
.right{
  grid-column: 6 / 12;
}
.project{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}
.project h3{
  grid-row: 1;
  grid-column: 1/3;
}
.inner{
  grid-column: 1/3;

}
